html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Header */
header {
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #0000003b;
}

header > nav {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  width: 100%;
  height: auto;
  padding: 5px;
  place-items: center;
}

nav.options {
  display: flex;
}

/* nav bar about us */
nav.about-us {
  background-color: #ececec;
}

.social-media > img {
  height: 20px;
  margin: 0px 3px;
}

nav.options > h4 {
  padding: 0px 15px;
  color: black;
  font-size: x-small;
  font-weight: lighter;
  font-family: Arial;
}

button {
  font-size: x-small;
  border-width: 1px;
  border-radius: 20px;
  color: white;
  padding: 7px 13px;
}

button.sign-up {
  background-color: #3d3d3d;
}

button.log-in {
  background-color: darkred;
  border-color: darkred;
}

/* nav bar shop options */
nav.shop-options {
  background-color: white;
  grid-template-columns: 1fr;
}

.logo {
  height: 18px;
}

nav.options > h3 {
  padding: 0px 10px;
  color: darkred;
  font-size: small;
  font-weight: lighter;
  font-family: Arial;
}

/*banner */
div.banner {
  position: relative;
  width: 100%;
}

img.banner-image {
  width: 100%;
}

button.more-information {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkred;
  font-size: x-small;
}

/* City filter */
div.filter {
  display: flex;
  background-color: #ececec;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 9%;
}

div.filter > div {
  display: flex;
  gap: 10px;
}

div.filter div h3 {
  color: grey;
  font-size: small;
  font-weight: lighter;
  font-family: Arial;
}

div.filter div select {
  background-color: white;
  border-color: grey;
  padding: 0px 10px;
  border-radius: 20px;
  width: 200px;
}

/* movies */
h1 {
  width: 100%;
  padding-left: 9%;
  font-size: xx-large;
  color: #808080;
  font-weight: lighter;
  font-family: Arial;
}

/*movie-list */
div.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-rows: 1fr;
  gap: 25px;
  padding: 0px 10% 30px 10%;
}

div.movie-list div.poster-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.movie-list div.poster-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.movie-list div.poster-container button {
  border-radius: 0;
  width: 100%;
  background-color: darkred;
  border-color: darkred;
}

/* footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ececec;
  padding-left: 6%;
  padding-bottom: 50px;
}

footer div h2 {
  color: grey;
  font-size: medium;
}

footer div h3 {
  color: #a1a1a1;
  font-size: smaller;
}

footer div.apps > img {
  height: 17px;
  margin: 3% 10px;
}

/* Movie Information */
h1.movie-title {
  text-align: center;
  padding-left: 0;
}

section.movie-info {
  max-width: 980px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px 30px;
  margin: 20px 9%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

section.movie-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.movie-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: #3d3d3d;
  font-family: Arial;
}

div.movie-details hr {
  width: 100%;
  border: 1px solid #0000003b;
  border-style: dashed;
}

div.movie-detail-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.movie-detail-item h4 {
  text-transform: uppercase;
  margin: 0;
}

div.movie-detail-item p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  /*banner */
  button.more-information {
    top: unset;
    bottom: 5%;
    left: 12%;
    font-size: medium;
  }

  /* City filter */
  div.filter {
    flex-direction: row;
  }

  /* footer */
  footer {
    grid-template-columns: 15% 15% 15% auto 30%;
  }

  nav.shop-options {
    grid-template-columns: 25% 50% 25%;
  }

  /* Movie Information */
  h1.movie-title {
    text-align: left;
    padding-left: 9%;
  }

  section.movie-info {
    flex-direction: row;
    align-items: start;
    gap: 20px;
  }

  section.movie-info img {
    width: 30%;
    height: 100%;
  }

  div.movie-details {
    text-align: left;
  }
}
